/* BUTTONS */

.button {
    display: inline-flex;
    padding: 1em 1em;
    border: 2px solid $color-text-body;
    border-radius: 1em 0 1em 0;
    margin: 1em .5em 1em 0;
    color: $color-text-body;
    text-transform: uppercase;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    a {
        color: rgba(0, 0, 0, 1);
        text-decoration: none;
        text-transform: uppercase;
    }
}

.button-style {
    position: relative;
    overflow: hidden;
    cursor: pointer;

    a {
        position: relative;
        transition: all 250ms ease-Out;
    }

    &:hover {
        left: 0;
        border: 2px solid $color-link-darker;


        a {
            color: $color-text-body;
        }
    }

    .button-animation {
        transform: rotate(50deg);
        width: 110%;
        height: 250%;
        left: -225px;
        top: -30px;
        background: $color-link-darker;
        position: absolute;
        transition: all 250ms ease-Out;
    }

    &:hover .button-animation {
        left: 0;
    }
}

/* CUSTOM CONTACT FORM BUTTON */

#storyform {
    position: absolute;
    text-align: right;
    background: #fff;
    top: 0;
    left: 0;
    width: 1000px;
    height: 600px;
    max-width: 100%;
    margin: 0 auto;
    border-radius: .5em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
}

.story-form {
    z-index: 5;

    h1 {
        text-align: center;
    }

    .close {
        text-align: right;
        position: relative;
        top: -10px;
        right: 20px;
        cursor: pointer;
        font-size: 3rem;
        color: #f9544e;
    }
}

form {
    display: flex;
    justify-content: center;

    h1 {
        text-transform: uppercase;
        color: #F7C664;
        font-size: 2rem;
        margin-bottom: 2em;
    }

    ul li {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    input {
        font-family: $font-family-sans;
        border: 0;
        margin: 2em 0;
        padding: 1em 0;
        width: 350px;
        display: block;
        background: none;
        border-bottom: 2px solid #F7C664;

        &:focus {
            outline: none;
        }
    }

    textarea {
        font-family: $font-family-sans;
        border: 0;
        margin: 2em 0;
        padding: 1em 0;
        width: 350px;
        height: 100px;
        display: block;
        background: none;
        border-bottom: 2px solid #F7C664;

        &:focus {
            outline: none;
        }
    }

    #submit {
        border: 2px solid #F7C664;
        padding: 1em 2em;

        &:hover {
            color: #F7C664;
        }
    }
}

#storyform {
    display: none;
}

@media (max-width: $breakpoint-small) {

    #storyform {
        width: 480px;
    }

    textarea {
        width: 250px;
    }

    input {
        width: 250px;
    }
}