/* RESET BODY */

body {
    margin: 0;
}

/* CONTAINER */

.container {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 1000px;
}

.piko-container {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 1000px;
}

.swiper-container {
    background-image: url('../img/pikotriangles-11a.svg'), url('../img/pikotriangles-11b.svg');
    background-position: left top, bottom right;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .8);
}

.together-wrapper {
    padding-top: 8em;
    text-align: center;
    padding-bottom: 20em;

    @media (min-width: $breakpoint-small) {

        .creator-images {
            display: flex;
            justify-content: space-between;

            .creator {
                margin: 1em;

                h1 {
                    color: rgba(225, 225, 225, 1);
                }
            }
        }
    }
}

/* MEDIA QUERIES */
/* RESPONSIVE TYPOGRAPHY */

// SMALL

body {
    font-size: 87.5%;
}

@media (min-width: $breakpoint-small) {
    body {
        font-size: 100%;
    }
}

@media (min-width: $breakpoint-large) {
    body {
        font-size: 112.5%;
    }
}