/* SITE STRUCTURE */

.site-header {
    position: absolute;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        color: rgba(0, 0, 0, .8);
        text-decoration: none;
    }

    h1 {
        font-size: 1.5rem;
        margin-bottom: 0;
    }

}

.logo {
    max-width: 50px;
}

.site-id {
    display: flex;
    align-items: center;
}

/* HERO SECTION */

.hero {
    background-color: rgba(0, 0, 0, .3);
    color: rgba(225, 225, 225, .8);

    h3 {
        margin: 0 auto;
        color: rgba(225, 225, 225, .8);
    }
}

.hero-animation {
    max-height: 80vh;
    max-width: 80vw;
    margin: 0 auto;
    margin-top: -10vh;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}

.hero video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hero-container {
    position: relative;
    z-index: 2;
}

/* BACKGROUND */

body {
    background: linear-gradient(rgb(175, 175, 175) 33.3%, rgba(215, 215, 215, 1) 66.3%);
}

canvas {
    position: fixed;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
}

/* SECTION */

section {
    background: $color-background;
    padding: 8em 0;
    min-height: 100vh;
    display: grid;
    align-items: center;
}

#pikoabout {
    background-image: url('../img/pikotriangles-07.svg'), url('../img/pikotriangles-11c.svg');
    background-position: left top, bottom right;
    background-repeat: no-repeat;
}

#pikoinfo {
    background-image: url('../img/pikotriangles-10.svg'), url('../img/pikotriangles-13.svg');
    background-position: left top, bottom right;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 4em 1em;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(16, 16, 16, 1);
    color: white;
    align-content: center;
    overflow-x: hidden;

    img {
        max-width: 100%;
        height: auto;
        margin-top: 0;
    }

    h1,
    h2 {
        color: rgba(225, 225, 225, 1);
        margin: 0;
    }

    h4 {
        color: rgba(0, 0, 0, 1);
        margin: 0;
    }


    p {
        color: rgba(0, 0, 0, 1);
        margin: 0;
        line-height: 1.4;
    }

    .grid-container {
        margin: 8em auto;
        max-width: 1000px;
    }

}

#pikoconnect {
    background-image: url('../img/pikotriangles-14.svg');
    background-position: right top;
    background-repeat: no-repeat;
}

#pikojoin {
    background-image: url('../img/pikotriangles-12.svg');
    background-position: left bottom;
    background-repeat: no-repeat;

    .container {
        position: relative;
    }
}